// Main

@import "../node_modules/bourbon/app/assets/stylesheets/bourbon.scss";
@import "partials/variables.scss";
@import "partials/base.scss";
@import "partials/animation.scss";

body {
	margin-bottom: 50px;
}

// Navigation
.navbar.navbar-inverse.navbar-custom {
	border: none;
	padding: 17px 0;
	background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	z-index: 10;
	position: relative;
	margin-bottom: 0;

	.navbar-brand {
		font-family: $open;
		font-weight: 700;
		font-size: 27px;
		color: #000;
		letter-spacing: -2px;
		&:hover {
			color: $primary;
			@include transition(all .2s ease-in-out);
		}
	}

	.navbar-nav {
		> li {
			> a {
				font-family: $lato;
				color: #a4a4a4;
				&:hover,  &:focus {
					color: $primary;
					@include transition(all .2s ease-in-out);
				}
			}
		}
		> .active {
			> a, > a:hover, > a:focus {
				color: $primary;
				background-color: #fff;
				@include transition(all .2s ease-in-out);
			}
		}
		> .open {
			> a, > a:hover, > a:focus {
				color: #a4a4a4;
				background-color: #fff;
				@include transition(all .2s ease-in-out);
			}
		}
	}
}

// Post
header {
	width: 100%;
	height: 272px;
	padding-top: 117px;
	background: url(../img/head-bg.jpg) #F7F7F7 center top;

	p {
		color: #E85F37;
		font-family: $open;
		font-size: 13px;
		letter-spacing: 2px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 10px 25px;
		background: #fff;
		border: 1px solid #DC5227;
		border-radius: 5px;
		box-shadow: inset 0 -3px 0 #ffcfbc;
		position: relative;
		@include animation(smooth-entry-btn 1s);
		&:after {
			content: '';
	    position: absolute;
	    border-style: solid;
	    border-width: 9px 9px 9px 0;
	    border-color: transparent #FFFFFF;
	    display: block;
	    width: 0;
	    z-index: 1;
	    left: -9px;
	    top: 10px;
		}
		&:before {
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 11px 10px 11px 0;
			border-color: transparent #DC5227;
			display: block;
			width: 0;
			z-index: 1;
			left: -10px;
			top: 8px;
		}
	}

	.img-header {
		border-radius: 100px;
    width: 42px;
    background-color: #EF3A3A;
    border: 1px solid #DC5227;
    -moz-box-shadow: inset 0.5px 0.9px 5px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0.5px 0.9px 5px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0.5px 0.9px 5px rgba(0, 0, 0, 0.05);
		@include animation(smooth-entry-btn 1s);
	}
}

// Content
.content {
	padding-top: 75px;
	.post {
		margin-bottom: 80px;
		a {
			text-decoration: none;
			cursor: pointer;
			font-family: $open;
			h1 {
				color: #000;
				font-family: "Lato", sans-serif;
				font-size: 22px;
				font-weight: 400;
				position: relative;
				margin: 0;
				&:hover {
					color: #FF6C40;
				  transition: all .2s ease-in-out;
				}
				&:before {
					content: url(../img/separator.png);
			    position: absolute;
			    top: -37px;
			    left: 1px;
				}
			}
			&.read-more {
				padding: 5px 10px;
		    background-color: #FFF;
		    border: 1px solid #E85F37;
		    -moz-border-radius: 5px;
		    -webkit-border-radius: 5px;
		    border-radius: 5px;
		    color: #E85F37;
		    font-size: 13px;
		    font-weight: 700;
		    text-transform: uppercase;
		    text-decoration: none;
		    letter-spacing: 2px;
				&:hover {
					background-color: #FF6C40;
					color: #fff;
					@include transition(all .25s ease-in-out);
				}
			}
		}
		img {
			margin-bottom: 20px;
		}
		p {
			color: #535353;
			font-family: "Open Sans", sans-serif;
			font-size: 15px;
			font-weight: 400;
			line-height: 1.65em;
			margin-bottom: 28px;
		}
		hr {
			content: url(../img/separator.png);
	    width: 66px;
	    height: 7px;
			top: -1px;
			position: relative;
	    float: left;
	    border: none;
		}
		.in-content {
			margin-top: 58px;
		}
		.foot-post {
		    position: relative;
		    margin-top: 65px;
		    color: #535353;
		    font-family: "Open Sans", sans-serif;
		    font-size: 12px;
		    font-weight: 700;
		    text-transform: uppercase;
				.col-md-12 {
					padding-bottom: 5px;
				}
				a {
				    font-weight: 400;
				    text-decoration: none;
				    color: #535353;
						font-size: 12px;
						&:hover {
							border-bottom: 1px dotted #ccc;
						}
				}
				&:before {
				    content: url(../img/separator.png);
				    position: absolute;
				    top: -40px;
				    left: 1px;
				}
		}
	}
}
