// Base

@media (min-width: 1200px) {
    .container{
        max-width: 662px;
        padding: 0 20px;
    }
}

h1, h2, h3, h4, h5, h6 {
	font-family:  $open;
}

a, p {
  font-family: $lato;
	font-size: 15px;
}
